FLASK_APP=flaskr/app
FLASK_ENV=development
APP_NAME=abcall-issues-api
DATABASE_URI=
AUTH_API_PATH=http://api-auth:3004
OPENAI_API_PATH=https://api.openai.com/v1/chat/completions
TOKEN_OPENAI=
OPENAI_PREDICTIVE_MODEL=gpt-4o
CUSTOMER_API_PATH=http://api-customer:3003