###################################
# abcall-issues-api
###################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: abcall-issues-api
  labels:
    app: abcall-issues-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: abcall-issues-api
  template:
    metadata:
      labels:
        app: abcall-issues-api
    spec:
      containers:
        - name: abcall-issues-api
          image: abcall.azurecr.io/abcall-issues-api:{{IMAGE_TAG}}
          resources:
            requests:
              memory: "256Mi"  # Cantidad de memoria solicitada
            limits:
              memory: "512Mi"  # Límite máximo de memoria
          volumeMounts:
            - mountPath: /path/to/mount  # Ruta donde se montará el volumen en el contenedor
              name: abcall-storage
          env:
            - name: "FLASK_APP"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: FLASK_APP
            - name: "FLASK_ENV"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: FLASK_ENV
            - name: "APP_NAME"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: APP_NAME
            - name: "AUTH_API_PATH"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: AUTH_API_PATH
            - name: "OPENAI_API_PATH"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: OPENAI_API_PATH
            - name: "OPENAI_PREDICTIVE_MODEL"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: OPENAI_PREDICTIVE_MODEL
            - name: "CUSTOMER_API_PATH"
              valueFrom:
                configMapKeyRef:
                  name: issues-configmap
                  key: CUSTOMER_API_PATH
            - name: "DATABASE_URI"
              valueFrom:
                secretKeyRef:
                  name: issues-secrets
                  key: DATABASE_URI
            - name: "TOKEN_OPENAI"
              valueFrom:
                secretKeyRef:
                  name: issues-secrets
                  key: TOKEN_OPENAI
          ports:
            - containerPort: 3007
          imagePullPolicy: Always
      volumes:
        - name: abcall-storage
          persistentVolumeClaim:
            claimName: abcall-issues-api-pvc  # Referencia al PVC que vamos a crear

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: abcall-issues-api-pv
spec:
  capacity:
    storage: 1Gi  # Límite de almacenamiento
  accessModes:
    - ReadWriteMany
  hostPath:  # Ajusta según tu entorno
    path: /mnt/data  # Ruta del nodo donde se almacenará

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: abcall-issues-api-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi  # Requerimiento de almacenamiento
